  <ng-template [ngIf]="toggleReadWrite">
    <div class="post-form">
      <div class="post-form__content">
        <label>
          <span>
            <p><img src="{{ post.image }}"></p>
            <p class="list-item__description">{{ post.content }}</p>
          </span>
        </label>
      </div>
      <div class="post-form__submit">
        <div>
          <a
            class="button"
            [routerLink]="['../']">
            Back
          </a>
        </div>
        <ng-content *ngTemplateOutlet="delete"></ng-content>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="!toggleReadWrite">
    <div class="post-form">
      <form [formGroup]="form">
        <div class="post-form__content">
          <div class="post-form__title">
            <label>
              <h3>Post title</h3>
              <input
                type="text"
                formControlName="title">
            </label>
            <label>
              <h3>Post author</h3>
              <input
                type="text"
                formControlName="author">
            </label>
          </div>

          <div class="post-form__content">
            <label>
              <h3>Content</h3>
              <textarea
                type="text"
                rows="5"
                formControlName="content"></textarea>
            </label>
            <label>
              <h3>Description</h3>
              <input
                type="text"
                formControlName="description">
            </label>
            <label>
              <h3>Image</h3>
              <input
                type="text"
                placeholder="e.g. https://goo.gl/img/1.jpg"
                formControlName="image">
            </label>
          </div>

          <div class="post-form__submit">
            <div>
              <button
                *ngIf="!post.title"
                type="button"
                class="button"
                (click)="createPost()">
                Create post
              </button>
              <button
                *ngIf="post.title"
                type="button"
                class="button"
                (click)="updatePost()">
                Update post
              </button>
              <a
                class="button button--cancel"
                [routerLink]="['../']">
                Cancel
              </a>
            </div>
            <ng-content *ngTemplateOutlet="delete"></ng-content>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #delete>
    <div class="post-form__delete" *ngIf="post.title">
      <button
        class="button button--delete"
        type="button"
        (click)="openDialog()">
        Delete
      </button>
    </div>
  </ng-template>
