@import "../shared/ui/styles";

.post-form {
  h3 {
    margin: 20px 0;
    flex-grow: 1;
  }
  input, textarea {
    outline: 0;
    font-size: 16px;
    padding: 10px 40px 10px 15px;
    margin: 0;
    width: 100%;
    background: $white;
    color: #545e6f;
    flex-grow: 1;
    border: 1px solid $border;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    word-break: break-word;
    &:focus {
      border-color: darken($border, 50%);
    }
    &::-webkit-input-placeholder {
      color: lighten($text, 40%);
    }
  }
  textarea {
    resize: none;
  }
}
