@import "../shared/ui/styles";

.post-form {
  &__delete {
    display: flex;
    align-items: center;
    > div {
      display: flex;
      align-items: center;
      p {
        margin: 0;
      }
    }
  }
  p {
    text-align: justify;
    margin: 0;
    img {
      border: 1px solid $border;
      border-radius: 4px;
      padding: 5px;
      margin: 0 10px 0 0;
      width: 40%;
      float: left;
    }
  }
}
