<div class="page">
  <div class="page__title">
    <h1>
      {{ '«' + post.title + '», ' + post.author }}
    </h1>
    <a
      class="button__head"
      [routerLink]="['./update']">
      <img src="/assets/img/check-active.svg">
      {{ 'Update post' }}
    </a>
  </div>
  <div>
    <div class="post-form">
      <div class="post-form__content">
      <div class="post-form__subcontent">
        <label>
          <span>
            <p><img src="{{ post.image }}"></p>
            <p class="list-item__description">{{ post.content }}</p>
          </span>
        </label>
      </div>
      <div class="post-form__submit">
        <div>
          <a
            class="button"
            [routerLink]="['/blog']">
            Back
          </a>
        </div>
        <div class="post-form__delete" *ngIf="post.title">
          <button
            class="button button--delete"
            type="button"
            (click)="openDialog()">
            Delete
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
