    <ng-content select="h1"></ng-content>
    <label>
      <input
        type="email"
        placeholder="Enter email"
        formControlName="email">
    </label>
    <label>
      <input
        type="password"
        placeholder="Enter password"
        formControlName="password">
    </label>
    <div class="error" *ngIf="emailFormat">
      Invalid email format
    </div>
    <div class="error" *ngIf="passwordInvalid">
      Password is required
    </div>
    <ng-content select=".error"></ng-content>
    <div class="auth-form__action">
      <ng-content select="button"></ng-content>
    </div>
    <div class="auth-form__toggle">
      <ng-content select="a"></ng-content>
    </div>

<div class="post-form">
  <form [formGroup]="form">
    <div class="post-form__content">
      <div class="post-form__title">
        <label>
          <h3>Post title</h3>
          <input
            type="text"
            formControlName="title">
        </label>
        <label>
          <h3>Post author</h3>
          <input
            type="text"
            formControlName="author">
        </label>
      </div>

      <div class="post-form__content">
        <label>
          <h3>Content</h3>
          <textarea
            type="text"
            rows="5"
            formControlName="content"></textarea>
        </label>
        <label>
          <h3>Description</h3>
          <input
            type="text"
            formControlName="description">
        </label>
        <label>
          <h3>Image</h3>
          <input
            type="text"
            placeholder="e.g. https://goo.gl/img/1.jpg"
            formControlName="image">
        </label>
      </div>

      <div class="post-form__submit">
        <div>
          <ng-content select="button"></ng-content>
          <a
            class="button button--cancel"
            [routerLink]="['../']">
            Cancel
          </a>
        </div>
        <div class="post-form__delete" *ngIf="post.title">
          <button
            class="button button--delete"
            type="button"
            (click)="openDialog()">
            Delete
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
