<div class="post-form">
  <form [formGroup]="this.postFormComponent.form">
  <div class="post-form__content">
    <div class="post-form__title">
      <label>
        <h3>Post title</h3>
        <input
          type="text"
          formControlName="title">
      </label>
      <label>
        <h3>Post author</h3>
        <input
          type="text"
          formControlName="author">
      </label>
    </div>

    <div class="post-form__content">
      <label>
        <h3>Content</h3>
        <textarea
          type="text"
          rows="5"
          formControlName="content"></textarea>
      </label>
      <label>
        <h3>Description</h3>
        <input
          type="text"
          formControlName="description">
      </label>
      <label>
        <h3>Image</h3>
        <input
          type="text"
          placeholder="e.g. https://goo.gl/img/1.jpg"
          formControlName="image">
      </label>
    </div>

    <div class="post-form__submit">
      <div>
        <button
          *ngIf="!this.post.title"
          type="button"
          class="button"
          (click)="this.postFormComponent.createPost()">
          Create post
        </button>
        <button
          *ngIf="this.post.title"
          type="button"
          class="button"
          (click)="this.postFormComponent.updatePost()">
          Update post
        </button>
        <a
          class="button button--cancel"
          [routerLink]="['../']">
          Cancel
        </a>
      </div>
      <div class="post-form__delete" *ngIf="this.post.title">
        <button
          class="button button--delete"
          type="button"
          (click)="this.postFormComponent.openDialog()">
          Delete
        </button>
      </div>
    </div>
  </div>
  </form>
</div>
