<div class="page">

  <div class="page__title">
    <ng-content select="h1"></ng-content>
  </div>

  <div class="post-form">
    <div class="post-form__content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="post-form__subcontent">
        <label>
          <h3>Post title</h3>
          <input
            type="text"
            formControlName="title">
        </label>
        <label>
          <h3>Post author</h3>
          <input
            type="text"
            formControlName="author">
        </label>
      </div>

      <div class="post-form__subcontent">
        <label>
          <h3>Content</h3>
          <textarea
            type="text"
            rows="5"
            formControlName="content"></textarea>
        </label>
        <label>
          <h3>Description</h3>
          <input
            type="text"
            placeholder="short text or description"
            formControlName="description">
        </label>
        <label>
          <h3>Image</h3>
          <input
            type="text"
            placeholder="e.g. https://goo.gl/img/1.jpg (only jpg, jpeg, png)"
            formControlName="image">
        </label>
      </div>
      <div class="post-form__submit">
        <ng-content></ng-content>
        <div>
          <button
            class="button button--cancel"
            [routerLink]="['../']">
            Cancel
          </button>
        </div>
      </div>

    </form>
    </div>
  </div>

</div>
