$white: #fff;
$border: #c1cedb;

$error: #a94442;
$error-background: #f2dede;

$button-background: #39a1e7;
$button-border: #1c79b8;
$button-delete-background: #d73a49;
$button-head-background: #97c747;

$text: #333943;
$input-background: #f8fafc;
